GeoRDD*2017*.pdf
GeoRDD*2018*.pdf
*.xdv
*.aux
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.bbl
*.blg
*.flx
*.toc
*.fls
*.key
*.dvi
submissions/*/*.pdf
submissions/*/*.bib
submissions/*/*.zip
submissions/*/geordd_raw.tex
submissions/*/supplementary_raw.tex
submissions/*/geordd_abstract.tex
submissions/*/geordd_appendices.tex
submissions/*/preamble.tex
submissions/*/figures
