.ipynb_checkpoints
*_files
geocoding_private.py
Milwaukee_data/SAA1314/
Milwaukee_data/tl_2013_55_unsd_elsd_harn/
Milwaukee_data/tl_2013_55_unsd_scsd_harn/
Tucson/Tucson_data/Residential/
Tucson/Tucson_data/Land/
Tucson/Tucson_data/Additions/
Tucson/Tucson_data/form.pdf
Tucson/Tucson_data/Sales/
Tucson/Tucson_data/adparcel/
Tucson/Tucson_data/processed/
ndist.numbers
__pycache__/
*.aux
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.bbl
*.blg
*.flx
*.toc
*.fls
*.key
